@mixin decorationMainCenter
    font-size: 11px
    font-weight: 500   
    text-transform: uppercase  
@mixin decorationMainBottom
    color: #ffffff
    font-size: 9px
    font-weight: 500
    letter-spacing: 1.64px
@mixin imgContainerPosition
    position: relative
    height: 100%
    width: 630px
@mixin footerTextDecoration
    color: #999999	
    font-size: 11px
    font-weight: 400
    letter-spacing: 0.46px
    text-decoration: none

    
    

    
    
    

